<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341111293698-oh4s2pj9345uvqgtvv2ur14k00kknepq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341111293698-oh4s2pj9345uvqgtvv2ur14k00kknepq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>341111293698-brtqj9am5h0mrk36hqt7sn121ffhibad.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAlrtwTQs0dYRgA2yLjNOR5Pgspd7P0VM0</string>
	<key>GCM_SENDER_ID</key>
	<string>341111293698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.seneca</string>
	<key>PROJECT_ID</key>
	<string>isenecafirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>isenecafirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341111293698:ios:24b25b58020ca81e40241b</string>
</dict>
</plist>